@use "../abstracts/" as *;

.default-container {
  max-width: 1241px;
  margin: 0 auto;
}

// CTA base animations
.cta {
  outline: 0;
  cursor: pointer;
  transition: border-color .3s, background-color .3s, transform .3s, color .3s;

  &:hover {
    transform: scale3d(.98, .98, .01);
  }
}

// Section headline
.section-headline {
  margin-bottom: pxToRem(80);
  display: flex;
  align-items: center;

  .section-title {
    padding: 6px 7px;
    border-radius: 8px;
    display: inline-block;
    margin-right: pxToRem(40);
    background-color: $highlight;
  }

  .section-description {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5;
  }
}
