@use "../abstracts" as *;

@font-face {
  font-family: SpaceGrotesk;
  src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf);
}

body {
  background-color: $background-color;
  font-weight: 400;
  font-size: 1rem;
  line-height: pxToRem(24);
  color: $main-dark;
  font-family: $primary-font;
}

button {
  font-family: inherit;
}

.text {
  &-sm {
    font-weight: 400;
    line-height: 100%;
    font-size: pxToRem(18);
  }

  &-medium {
    font-weight: 400;
    font-size: pxToRem(20);
    line-height: pxToRem(28);
  }

  &-large {
    line-height: 100%;
    font-size: pxToRem(30);
    font-weight: 500;
  }

  &-xlarge {
    line-height: 100%;
    font-size: pxToRem(40);
    font-weight: 500;
  }

  &-xxlarge {
    font-weight: 400;
    line-height: 100%;
    font-size: pxToRem(60);
    font-weight: bold;
  }
}

.capitalize {
  text-transform: capitalize;
}

