@use "../abstracts/" as *;

.hero-wrapper {
  padding: 12px 0 32px 0;

  .hero-content {
    display: flex;
    justify-content: space-between;

    &-leftside {
      padding-top: pxToRem(24);
      padding-right: pxToRem(32);

      .hero-title {
        padding-right: pxToRem(12);
      }

      .hero-description {
        padding-right: pxToRem(70);
        margin: pxToRem(35) 0;
      }

      .hero-cta {
        padding: 20px 32px;
        background-color: $border-color;
        color: $background-color;
        border-radius: 12px;
        border: 1px solid $border-color;

        &:hover {
          background-color: $background-color;
          color: $border-color;
        }
      }
    }
  }
}

